{% extends "base.html" %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Home</a>
    <span class="breadcrumb-separator"><i class="fas fa-chevron-right"></i></span>
    <a href="#" class="current">{{ topic.name }}</a>
</div>
{% endblock %}

{% block content %}
    <h1>{{ topic.name }} Flashcards</h1>
    
    {% with message = added and "Flashcard successfully added!" or request.args.get('updated') and "Flashcard successfully updated!" %}
        {% include 'partials/feedback.html' %}
    {% endwith %}
    
    <a href="{{ url_for('add_card_form') }}?topic={{ topic.name }}" class="add-btn">
        <i class="fas fa-plus"></i> Add New Flashcard
    </a>
    
    <div class="flashcard-container">
        {% for card in cards %}
            {% include 'partials/flashcard.html' %}
        {% else %}
            <p>No flashcards available for this topic yet.</p>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/flashcards.js') }}"></script>
{% endblock %}